In [44]:
import pandas as pd
from tabulate import tabulate

In [45]:
#empty_seats = ['P054','P185']
current_session = "session_15"

In [47]:
at = pd.read_csv(f'sessions/{current_session}/attendance_{current_session}.csv')
ab = pd.read_csv(f'sessions/{current_session}/absence_{current_session}.csv')
assert len(at.columns) == len(ab.columns), 'Dataframes are not of equal width'
n_sessions = len(at.columns) - 4

In [52]:
col_summary = ['seat_code','seat','mp','total']
df = pd.merge(at[col_summary],
              ab[col_summary],
              on=col_summary[:3],how='inner').rename(columns={'total_x':'present','total_y':'absent'})
df['total'] = df.present + df.absent
df.mp = df.mp.fillna('')
#df = df[~df.seat_code.isin(empty_seats)]

In [53]:
df

,seat_code,seat,mp,present,absent,total
0,P001,Padang Besar,RUSHDAN BIN RUSMI,33,0,33
1,P002,Kangar,ZAKRI BIN HASSAN,33,0,33
2,P003,Arau,SHAHIDAN BIN KASSIM,33,0,33
3,P004,Langkawi,MOHD SUHAIMI BIN ABDULLAH,33,0,33
4,P005,Jerlun,ABDUL GHANI BIN AHMAD,26,7,33
...,...,...,...,...,...,...
217,P218,Sibuti,LUKANISMAN BIN AWANG SAUNI,33,0,33
218,P219,Miri,CHIEW CHOON MAN,31,2,33
219,P220,Baram,ANYI NGAU,32,1,33
220,P221,Limbang,HASBI BIN HABIBOLLAH,31,2,33
221,P222,Lawas,HENRY SUM AGONG,22,11,33

In [54]:
print('\nTotal: ' + str(n_sessions) + ' sessions\n\nTabulations for these MPs are problematic')
print('\n' + tabulate(df[df.total != n_sessions], headers='keys', tablefmt='psql', showindex=False))

Total: 33 sessions

Tabulations for these MPs are problematic

+-------------+--------+------+-----------+----------+---------+
| seat_code   | seat   | mp   | present   | absent   | total   |
|-------------+--------+------+-----------+----------+---------|
+-------------+--------+------+-----------+----------+---------+

In [55]:
dt = (at.set_index(col_summary[:3]) + ab.set_index(col_summary[:3])).reset_index()
dt.drop(['seat','mp'],axis=1,inplace=True)
dt = dt[(dt.total != n_sessions) & (~dt.seat_code.isin(empty_seats))].set_index('seat_code').transpose()[:-1]
dt['total'] = dt.sum(axis=1)
dt = dt[dt.total != len(dt.columns) - 1].transpose().reset_index()[:-1]
print('\n' + tabulate(dt, headers='keys', tablefmt='psql', showindex=False))

+-------------+
| seat_code   |
|-------------|
+-------------+